
@charset 'utf-8';

:root{
    --sizeAside: 250px;
    --HeaderWindow: 40px;
    --backColorHeader: #0d0dff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.not-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }