<div class="row">
    <form name="client">

        <div class="input-field col s6">
            <input name="client_carro" id="id_name" type="text" class="validate" autofocus>
            <label class="active" for="id_name">Buscar</label>
            <ul id="show_client">

            </ul>
        </div>



    </form>
</div>
<div class="row">
    <div id="table">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Fone</th>
                    <th>Rua</th>
                    <th>Nº</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <a id="adicionar" class="waves-effect waves-light btn grey darken-4">
            adicionar
        </a>
        <a id="remover" class="waves-effect waves-light btn grey darken-4">
            remover
        </a>
    </div>
</div>

<!-- Modal Structure -->
<div id="excluirModal" class="modal">
    <div class="modal-content">
        <h4 id="titleModal"></h4>
        <p>Deseja realmente excluir o cliente?</p>
    </div>
    <div class="modal-footer">
        <a id="excluirConfirm" class="modal-close waves-effect waves-green btn-flat">sim</a>
        <a class="modal-close waves-effect waves-green btn-flat">não</a>
    </div>
</div>