<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    
    <!--Import Google Icon Font-->
    <link type="text/css" rel="stylesheet" href="dist/materialize/css/font-materialize.css">
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="dist/materialize/css/materialize.min.css"  media="screen,projection"/>
	
	<!-- My Style -->
    <link rel="stylesheet" type="text/css" href="css/resetCss.css">
    <link rel="stylesheet" type="text/css" href="css/loginView.css">
</head>
<body>
	
    <h1>index</h1>
    
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="dist/materialize/js/materialize.min.js"></script>
	
	<!--My Scripts-->
    <script type="text/javascript"></script>

</body>
</html>