<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <!--Import Google Icon Font-->
    <link type="text/css" rel="stylesheet" href="dist/materialize/css/font-materialize.css">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="dist/materialize/css/materialize.min.css" media="screen,projection" />

    <!-- My Style -->
    <link rel="stylesheet" type="text/css" href="css/resetCss.css">
    <link rel="stylesheet" type="text/css" href="css/indexView.css">
</head>

<body>

    <ul id="slide-out" class="sidenav sidenav-fixed cyan lighten-5">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="./img/demo-background.jpg">
                </div>
                <a href="#user"><img class="circle" src="./img/demo-user-0.png"></a>
                <a href="#name"><span id="user_name" class="white-text name"></span></a>
                <a href="#email"><span id="user_email" class="white-text email"></span></a>
            </div>
        </li>
        <!-- Dropdown cadastro -->
        <li>
            <a class="waves-effect dropdown-trigger" data-target='cadastrar'>Cadastro</a>
        </li>
        <li>
            <!-- Dropdown Structure -->
            <ul id='cadastrar' class='dropdown-content'>
                <li><a id="btn_cad_os" class="waves-effect" href="#!">Nova OS</a></li>
                <li><a id="btn_cad_cliente" class="waves-effect" href="#!">Novo Cliente</a></li>
                <li><a id="btn_cad_user" class="waves-effect subheader" href="#!">Novo Usuário</a></li>
                <li class="divider" tabindex="-1"></li>
            </ul>
        </li>
        <!-- Dropdown Relatorios -->
        <li>
            <a class="waves-effect dropdown-trigger" data-target='relatorios'>Relatórios</a>
        </li>
        <li>
            <!-- Dropdown Structure -->
            <ul id='relatorios' class='dropdown-content'>
                <li><a id="btn_rel_os" class="waves-effect" href="#!">OSs</a></li>
                <li><a id="btn_rel_cliente" class="waves-effect" href="#!">Cliente</a></li>
                <li><a id="btn_rel_user" class="waves-effect subheader" href="#!">Usuário</a></li>
                <li class="divider" tabindex="-1"></li>
            </ul>
        </li>
        <li class="hide-on-large-only">
            <div class="divider"></div>
        </li>
        <li class="hide-on-large-only"><a href="#!">Logout</a></li>
        <li class="hide-on-large-only"><a href="#!">Sair</a></li>
    </ul>

    <header>
        <nav class="blue darken-2">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo my-logo">OSLite</a>
                <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i
                        class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#!">Logout</a></li>
                    <li><a href="#!">Sair</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <table class="striped highlight">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Cliente</th>
                    <th>Serviço</th>
                    <th>Valor</th>
                </tr>
            </thead>

            <tbody id="tb_dashboard">
                <!-- Exemplo de exibição
                <tr>
                    <td>20/03/2021</td>
                    <td>Manoel</td>
                    <td>Trova da fonte</td>
                    <td>R$ 58,87</td>
                </tr>
                -->

            </tbody>
        </table>
    </main>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="dist/materialize/js/materialize.min.js"></script>

    <!--My Scripts-->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            let elemsNav = document.querySelectorAll('.sidenav')
            let instancesNav = M.Sidenav.init(elemsNav, {
                edge: 'left'
            })

            let elemsDrop = document.querySelectorAll('.dropdown-trigger')
            let instancesDrop = M.Dropdown.init(elemsDrop, {
                coverTrigger: false,
                alignment: 'center',
                autoTrigger: true
            })
        })
    </script>

</body>

</html>