
@charset 'utf-8';

ul.menu{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

header h5{
    margin: 0;
    padding: 6px 20px;
}

body{
    display: flex;
}

header, aside{
    position: fixed;
    width: 100%;
}

header{
    height: var(--HeaderWindow);
    background-color: var(--backColorHeader);
    color: #fff;
}

aside{
    display: block;
    width: var(--sizeAside);
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.botton-bar{
    width: 100%;
    height: 100%;
}

main{
    height: 100vh;
    width: 100vw;
    padding-left: var(--sizeAside);
}

#view, ul.menu{
    padding-top: calc(var(--HeaderWindow) + 10px) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#view{
    height: calc(100% - 10px);
}

ul.menu li, .drop span{
    display: block;
    padding: 5px;
    list-style: none;
    border-radius: 3px;
    transition: 0.4s;
}

ul.menu li{
    border: 1px solid rgba(255, 255, 255, 0);
    border-left: 8px solid rgba(255, 255, 255, 0);
}

ul li:hover, .menu-select{
    cursor: pointer;
    filter: brightness(90%);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 8px solid rgba(255, 255, 255, 0.6);
}

.drop{
    position: relative;
    padding:  0 !important;
    box-sizing: border-box;
}

.drop ul{
    position: absolute;
    width: 100%;
    top: 0;
    left: calc(100% + 10px);
    background-color: #000;
    border-radius: 0 0 5px 5px !important;
    box-shadow: 0px 0px 8px #000;
    transform-origin: left;
    transform: perspective(100px) rotateY(90deg);
    transition: 0.2s;
}

.drop-show{
    transform: perspective(100px) rotateY(0deg) !important;
}

/* iframe view */

#show{
    width: 100%;
    height: 100%;
}
