
@charset 'utf-8';

:root{
    --sizeAside: 250px;
    --HeaderWindow: 40px;
    --backColorHeader: #0d0dff;
}

h1,h2,h3,h4,h5,h6,ul.menu{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-size: 16px !important;
}

body{
    display: flex;
}

header, aside{
    position: fixed;
    width: 100%;
}

header{
    height: var(--HeaderWindow);
    background-color: var(--backColorHeader);
    color: #fff;
}

aside{
    display: block;
    width: var(--sizeAside);
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.botton-bar{
    width: 100%;
    height: 100%;
}

main{
    height: 100vh;
    width: 100vw;
    padding-left: var(--sizeAside);
}

section, ul.menu{
    padding-top: calc(var(--HeaderWindow) + 10px) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

ul.menu li, .drop span{
    display: block;
    cursor: pointer;
    padding: 5px;
    list-style: none;
    border-radius: 3px;
    transition: 0.4s;
}

ul li:hover, .drop:hover span, .menu-select{
    filter: brightness(80%);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 8px solid rgba(255, 255, 255, 0.6);
}

.drop{
    position: relative;
    padding:  0 !important;
    box-sizing: border-box;
}

.drop ul{
    position: absolute;
    width: 100%;
    top: 0;
    left: calc(100% + 10px);
    background-color: #000;
    border-radius: 0 0 5px 5px !important;
    box-shadow: 0px 0px 8px #000;
    transform-origin: left;
    transform: perspective(500px) rotateY(90deg);
    transition: 0.2s;
}

.drop:hover{
    border: none;
}

.drop-show{
    transform: perspective(500px) rotateY(0deg) !important;
}

