
@charset 'utf-8';

nav{
    position: fixed;
    background-color: var(--backColorHeader);
}

.body_insert{
    padding-top: 75px;
}

#manager table tr td, #manager table tr th{
    text-align: center;
}

.userName{
    text-align: left !important;
}

