
@charset 'utf-8';

nav{
    background-color: var(--backColorHeader);
}

.body_insert{
    padding-top: 20px;
}

#manager table tr td, #manager table tr th{
    text-align: center;
}

.userName{
    text-align: left !important;
}

#pagination{
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 80px;
}