header, main, footer {
    padding-left: 300px;
}

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  a.my-logo {
    padding-left: 10px;
    padding-right: 10px;
  }

  main {
    padding-top: 80px; 
  }

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }