.full-screen-center {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 100%;
    background: #fff;
}
@media only screen and (min-width:760px){
   .box {
        width: 500px;
    }
}