<div class="row">
    <form name="cadastrar" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input name="name_client" id="id_nome" type="text" class="validate" autofocus>
                <label for="id_nome">Nome</label>
            </div>
            <div class="input-field col s6">
                <input name="fone_client" id="id_fone" type="text" class="validate">
                <label for="id_fone">Telefone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="andress_client" id="id_andress" type="text" class="validate">
                <label for="id_andress">Endereço</label>
            </div>
            <div class="input-field col s2">
                <input name="number_client" id="id_number" type="number" class="validate">
                <label for="id_number">Nº</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input name="code_client" id="id_code" type="text" class="validate">
                <label for="id_code">CEP</label>
            </div>
            <div class="input-field col s4">
                <input name="city_client" id="id_city" type="text" class="validate">
                <label for="id_city">Cidade</label>
            </div>
            <div class="input-field col s4">
                <input name="province_client" id="id_province" type="text" class="validate">
                <label for="id_province">Estado</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s6">
                <a href="#cadastrar" class="waves-effect waves-light btn grey darken-4">
                    cadastrar
                </a>
                <a href="javascript:window.close()" class="waves-effect waves-light btn grey darken-4">
                    cancelar
                </a>
            </div>
        </div>

    </form>
</div>