<div class="row">
    <form name="cadastrar" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input name="name_client" id="id_nome" type="text" class="validate" autofocus>
                <label for="id_nome">Nome</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="fone_client" id="id_fone" type="text" class="validate">
                <label for="id_fone">Telefone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="andress_client" id="id_andress" type="text" class="validate">
                <label for="id_andress">Endereço</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <a href="#cadastrar" class="waves-effect waves-light btn grey darken-4">
                    cadastrar
                </a>
                <a href="javascript:window.close()" class="waves-effect waves-light btn grey darken-4">
                    cancelar
                </a>
            </div>
        </div>

    </form>
</div>