<div class="row">
    <form name="search">
        
        <div class="input-field col s6">
            <input name="search_client" id="id_name" type="text" class="validate" autofocus>
            <label for="id_name">Buscar</label>
        </div>

        <div class="input-field col s6">
            <i class="material-icons">search</i>
        </div>

    </form>
</div>
<div class="row">
    <div id="table">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Fone</th>
                    <th>Rua</th>
                    <th>Nº</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="show_client">

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <a id="editar" class="waves-effect waves-light btn grey darken-4">
            editar
        </a>
        <a id="excluir" onclick="modal(this)" data-target="excluirModal" class="waves-effect waves-light btn grey darken-4 modal-trigger">
            excluir
        </a>
    </div>
</div>
