<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="id_user" type="text" class="validate">
                <label for="id_user">Usuário</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="id_pass" type="password" class="validate">
                <label for="id_pass">Senha</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="id_pass_conf" type="password" class="validate">
                <label for="id_pass_conf">Confirmar senha</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <p>
                    <label>
                        <input id="id_active" type="checkbox" checked="checked" />
                        <span>Ativar as permições de usuário?</span>
                    </label>
                </p>
            </div>
            <div class="input-field col s6">
                <p>
                    <label>
                        <input id="id_admin" type="checkbox" />
                        <span>Usuário Adminitrador?</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <button id="cadastrar" class="waves-effect waves-light btn grey darken-4">
                    cadastrar
                </button>
                <a href="javascript:window.close()" class="waves-effect waves-light btn grey darken-4">
                    cancelar
                </a>
            </div>
        </div>

    </form>
</div>